body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

header {
    background-color: #4CAF50;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 700;
}

.container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    padding: 50px 50px;
    border-radius: 50px;
}

#drop-area {
    border: 2px dashed #4CAF50;
    border-radius: 10px;
    padding: 2em;
    text-align: center;
    margin: 1em;
    background-color: #fff;
    cursor: pointer;
}

#drop-area.highlight {
    background-color: #e0ffe0;
}

button, .button {
    background-color: #4CAF50;
    color: white;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

button:hover, .button:hover {
    background-color: #45a049;
}

#uploaded-audio {
    margin-top: 1em;
}

.result {
    margin-top: 1em;
    padding: 1em;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 90%;
    max-width: 800px;
    max-height: 500px;
    overflow-y: scroll;
}

#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

#loading-indicator {
    text-align: center;
    color: white;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #4CAF50;
    animation: spin 1s ease infinite;
    display: inline-block;
    margin-left: 10px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

body.loading *:not(#loading-overlay, #loading-overlay *) {
    opacity: 0.5;
}
